name: peach_black
description: "A 90's DOS-style portfolio with retro aesthetics and interactive features."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # State Management
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  
  # Graphics & UI
  flutter_shaders: ^0.1.2
  
  # External Links
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/gif/
    - assets/DOOM-game
  shaders:
    - assets/shaders/plasma.frag
  fonts:
    - family: VT323
      fonts:
        - asset: assets/fonts/VT323-Regular.ttf